USE [master]
GO
/****** Object:  Database [Stock]    Script Date: 01/1/2025 2:11:37 AM ******/
CREATE DATABASE [Stock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Stock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Stock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stock]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 01/1/2025 2:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [nchar](10) NULL,
	[timestamp] [datetime] NULL,
	[StockPriceValue] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Stock]    Script Date: 01/1/2025 2:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Stock](
	[Column 0] [varchar](50) NULL,
	[Column 1] [varchar](50) NULL,
	[Column 2] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Stock] ([StockId], [timestamp], [StockPriceValue]) VALUES (N'FLTR      ', CAST(N'2023-09-01T00:00:00.000' AS DateTime), 16340)
INSERT [dbo].[Stock] ([StockId], [timestamp], [StockPriceValue]) VALUES (N'FLTR      ', CAST(N'2023-09-02T00:00:00.000' AS DateTime), 16258.3)
INSERT [dbo].[Stock] ([StockId], [timestamp], [StockPriceValue]) VALUES (N'FLTR      ', CAST(N'2023-09-03T00:00:00.000' AS DateTime), 16274.56)
GO
INSERT [dbo].[Temp_Stock] ([Column 0], [Column 1], [Column 2]) VALUES (N'NMR', N'01-09-2023', N'5.84')
INSERT [dbo].[Temp_Stock] ([Column 0], [Column 1], [Column 2]) VALUES (N'NMR', N'02-09-2023', N'5.92')
INSERT [dbo].[Temp_Stock] ([Column 0], [Column 1], [Column 2]) VALUES (N'NMR', N'03-09-2023', N'5.89')
GO
/****** Object:  StoredProcedure [dbo].[stocksp]    Script Date: 01/1/2025 2:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[stocksp]

AS

DECLARE @stockid NVARCHAR(20)= 'NMR';

BEGIN

     WITH Stock_Moving_Avg
          AS (SELECT stockid, 
                     timestamp, 
                     StockPriceValue, 
                     AVG(StockPriceValue) OVER(PARTITION BY stockid
                     ORDER BY timestamp ) AS moving_avg_30, 
                     ROW_NUMBER() OVER(PARTITION BY stockid
                     ORDER BY timestamp) AS row_num
              FROM stock
              WHERE StockId = @stockid),

          MaxRowNums
          AS (SELECT StockID, 
                     MAX(Row_Num) AS MaxRowNum
              FROM Stock_Moving_Avg
              GROUP BY StockID),

          ValidStartPoints
          AS (SELECT nr.StockID, 
                     nr.row_num, 
                     nr.timestamp
              FROM Stock_Moving_Avg nr
                   JOIN MaxRowNums mr ON nr.StockID = mr.StockID
              WHERE nr.Row_Num <= mr.MaxRowNum - 29),

          RandomStart
          AS (SELECT TOP 1 StockID, 
                           Row_Num AS StartRow, 
                           timestamp
              FROM ValidStartPoints
              ORDER BY NEWID()),
          SelectedRows
          AS (SELECT dp.StockID, 
                     dp.timestamp, 
                     dp.StockPriceValue, 
                     dp.moving_avg_30, 
                     rs.timestamp [RandomStartDate]
              FROM Stock_Moving_Avg dp
                   JOIN RandomStart rs ON dp.StockID = rs.StockID
                                          AND dp.Row_Num BETWEEN rs.StartRow AND rs.StartRow + 29),

          Outliers
          AS (SELECT stockid, 
                     timestamp, 
                     RandomStartDate, 
                     StockPriceValue, 
                     moving_avg_30, 
                     (StockPriceValue - moving_avg_30) AS price_diff,
                     CASE
                         WHEN ABS(StockPriceValue - moving_avg_30) / moving_avg_30 > 0.05
                         THEN(ABS(StockPriceValue - moving_avg_30) / moving_avg_30) * 100
                         ELSE 0
                     END AS percentage_deviation
              FROM SelectedRows
              --WHERE ABS(StockPriceValue - moving_avg_30) / moving_avg_30 > 0.05
			  )

          SELECT stockid, 
                 timestamp, 
                 RandomStartDate, 
                 StockPriceValue, 
                 moving_avg_30, 
                 price_diff, 
                 percentage_deviation
          FROM Outliers;

END
GO
/****** Object:  StoredProcedure [dbo].[stocksp_new]    Script Date: 01/1/2025 2:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[stocksp_new]

AS

BEGIN
     DECLARE @stockid NVARCHAR(20)= 'NMR';
     WITH Stock_Moving_Avg
          AS (SELECT stockid, 
                     timestamp, 
                     StockPriceValue,
                     --AVG(StockPriceValue) OVER (PARTITION BY stockid ORDER BY timestamp ROWS BETWEEN 29 PRECEDING AND CURRENT ROW) AS moving_avg_30,
                     ROW_NUMBER() OVER(PARTITION BY stockid
                     ORDER BY timestamp) AS row_num
              FROM stock
              WHERE StockId = @stockid),

          MaxRowNums
          AS (SELECT StockID, 
                     MAX(Row_Num) AS MaxRowNum
              FROM Stock_Moving_Avg
              GROUP BY StockID),

          ValidStartPoints
          AS (SELECT nr.StockID, 
                     nr.row_num, 
                     nr.timestamp
              FROM Stock_Moving_Avg nr
                   JOIN MaxRowNums mr ON nr.StockID = mr.StockID
              WHERE nr.Row_Num <= mr.MaxRowNum - 29),

          RandomStart
          AS (SELECT TOP 1 StockID, 
                           Row_Num AS StartRow, 
                           timestamp
              FROM ValidStartPoints
              ORDER BY NEWID()),

          SelectedRows
          AS (SELECT dp.StockID, 
                     dp.timestamp, 
                     dp.StockPriceValue, 
                     AVG(dp.StockPriceValue) OVER(PARTITION BY dp.stockid
                     ORDER BY dp.timestamp ROWS BETWEEN 29 PRECEDING AND CURRENT ROW) AS moving_avg_30,
                     --dp.moving_avg_30,
                     rs.timestamp [RandomStartDate]
              FROM Stock_Moving_Avg dp
                   JOIN RandomStart rs ON dp.StockID = rs.StockID
                                          AND dp.Row_Num BETWEEN rs.StartRow AND rs.StartRow + 29),
          Outliers
          AS (SELECT stockid, 
                     timestamp, 
                     RandomStartDate, 
                     StockPriceValue, 
                     moving_avg_30, 
                     (StockPriceValue - moving_avg_30) AS price_diff,
                     CASE
                         WHEN ABS(StockPriceValue - moving_avg_30) / moving_avg_30 > 0.05
                         THEN(ABS(StockPriceValue - moving_avg_30) / moving_avg_30) * 100
                         ELSE 0
                     END AS percentage_deviation
              FROM SelectedRows
              --WHERE ABS(StockPriceValue - moving_avg_30) / moving_avg_30 > 0.05
			  )

          SELECT stockid, 
                 timestamp, 
                 RandomStartDate, 
                 StockPriceValue, 
                 moving_avg_30, 
                 price_diff, 
                 percentage_deviation
          FROM Outliers;
END
GO
USE [master]
GO
